.gallery{
    display:inline-block;
    border:1px solid;
    margin: 4px;
    width:300px
}
.gallery .description{
    padding:10px;
    text-align:center
}
.gallery:hover{
    border:1px solid
}
.gallery img{
    width: 100%;
    height:auto;
}