h1::first-letter{
    font-size: 2em;
    font-style:italic;
}

p::first-line{
    background-color: yellowgreen
}
p::selection{
    color:yellowgreen;
    background-color:black;
}
#fruit li::before{
    content:"✔️"
}
#apple::after{
    content:"🍎"
}
#orange::after{
    content:"🍊"
}
#banana::after{
    content:"🍌"
}
